/*navbar css*/
.navbar-default {
  background-color:rgba(0,149,255, 1);
  border-color: transparent;
}

.navbar-default .navbar-collapse {
  border-color: skyblue;
}
.navbar-default .navbar-toggle {
  background-color: rgba(135, 206, 235,1);
  border-color: skyblue;
  border-radius: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: skyblue;
}
.navbar-default .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

#iqMenu > ul.nav.navbar-nav.navbar-right > li> a.iqLogin:hover{
    color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

#iqMenu > ul.nav.navbar-nav.navbar-right > li> a.iqLogout:hover{
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #5cb85c !important;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: skyblue;
  outline: none;
}

.navbar-default .navbar-nav > .active > a {
    border-bottom: 5px solid #23958c;
    color: white;
    background-color: inherit;
}

.nav li a.iqLogin:hover, .nav li a.iqLogin:visit{
    color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

.nav li a.iqLogout:hover, .nav li a.iqLogout:visit{
    color: #fff !important;
    background-color: #449d44 !important;
    border-color: #398439 !important;
}

@media (min-width: 768px) {
    
  .navbar-default {
    padding: 5px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
    
  .navbar-default .navbar-nav > .active > a {
    border-radius: 0px;
  }
    
}

.navbar-brand {
    color: white !important;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

a.navbar-brand:hover {
    color: skyblue !important;
    outline: none;
}


/*end of navbar css*/

/*mainBody css*/
.mainBody{
    position: relative;
    top:50px;
}

.refreshBtn{

  position: fixed;
  top:50px;  
  right:0px;
  z-index: 3;    

}

.staffBtn{
    position: fixed;
    right: 94px;
    top: 50px;
    z-index: 3;
}

.jumbotron{
    background-image: url(../img/lateral_view_HKUST.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

.shareUrl{
    overflow:auto;
}

.questionContent, .commentContent{
    white-space: pre-line;
}

.zeroBorderRadius{
    border-radius: 0px !important;
}

#secMsg{ 
    background-color: chartreuse;
    position: fixed;
    top:20%;
    right: 0px;
    z-index: 4;
    color: black;
    text-align: center;
    display: none;
}

.bestQuestion{
    float: right;
    position:absolute;
    right:0px;
    top:0px;
    margin-right: 5px;
    margin-top: 5px;
    color:gold;
    font-size: xx-large;
}

.bestQ{
    border-color: gold;
/*    outline: 0;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,215,0,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,215,0,.6);
}

.staffQ{
    border-color: greenyellow;
/*    outline: 0;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(173,255,47,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(173,255,47,.6);
}

.staffQ > h4> span.questionContent, .staffComment {
    color:forestgreen;
    font-family: "Kaushan Script";
}

.transparent02{
	opacity: 0.2
}

.transparent04{
	opacity: 0.4
}

.transparent06{
	opacity: 0.6
}

.transparent08{
	opacity: 0.8
}

.replyForm{
    
    
}

.replyArea{
    border-radius: 0px !important;
    padding-right: 92px !important;
}

.replyButton{
    border-radius: 50% !important;
    border: 0px;
    padding: 4px 8px 5px 8px;
}

.replySubmit{
    position: relative;
    top: -34px;
    float: right;
}
.list-group-item {
    margin: 5px  !important;
}

.roomName{
    color: rgba(0,149,255, 1);
    font-family: 'Orbitron', sans-serif;
}

@media(max-width:768px){
    .askBtn{
        float:right;
    }
}

@media (min-width: 768px) {
    
.mainBody{
    position: relative;
    top:62px;
}

.refreshBtn{
  position: fixed;
  top:62px;  
  right:0px;
  z-index: 3;    
}

.staffBtn{
    position: fixed;
    right: 94px;
    top: 62px;
    z-index: 3;
}    
    
}

.iqTextArea, .iqButtonGp{
    padding-right: 0px;
    padding-left: 0px; 
}

.zeroBorder{
    border:0px;
}

.zeroRadius{
    border-radius: 0px;
}

.category{
/*
    -webkit-appearance: none;
    -webkit-border-radius: 0px; 
*/
    
    border: 0; 
    outline: 2px solid white; 
    outline-offset:-2px;
}
/*end of mainBody css*/

.completed {
	color: #d9d9d9;
	text-decoration: line-through;
}

.icon{display: inline-block;}
.icon,
.icon + span{vertical-align: middle;}

.icon.facebook{
  background: url(../img/icon-facebook.png) no-repeat 0 0;
  height: 29px;
  width: 38px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.btn{
    border-radius: 0px !important;
}

#toTop{
	position: fixed;
	bottom: 95px;
	right: 40px;
	cursor: pointer;
	display: none;
}

#toTop .fa {margin-right: 5px;}


.time-color {
    color: #9197a3;
}

.likeButton{
    background: transparent;
    border: 0px;
    padding: 0px;
}

.emojiPicker{
    z-index: 2;
    position: absolute;
    bottom: 5px; 
    color: grey; 
    font-size: x-large;
    right: 20px;
    cursor: pointer;
    width: 80%;
}

#emojiDropdownMenu{
    float: right;
}

.emojiMenu{
    position: absolute;
    right: 10px;
    height: 200px;
    min-width: 250px;
    font-size: x-large;
    overflow: none;
    overflow-y: scroll;
}

.emojiMenu > a{
    margin: 0.2em;
    text-decoration:none !important;
}

textarea#new-todo {
    min-height: 6.85em;
    resize: none;
    padding-right: 30px;
}


.dropdown-toggle.category{
    width: 110px !important;
    
}

#signUpForm, #loginForm{
    overflow:auto;
}
.fixBtnWidth {
    width:50px;
}

.dark-grey {
    background-color:rgba(0,149,255, 1);
    border-color: transparent;
    color:white;
    text-align: center;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

.pollSelectBtn {
    width:100%;
    height:30px;
    overflow: hidden;
    float: left;
}

.selectPoll {
    background: #fff;
    text-align: center;
    padding: 1px 1px;
    border: 1px solid #ddd;
}

.pollList {
    width:85%;
    margin: 0 auto;
}

.pollingFooter {
    text-align: right;
    padding-bottom:10px;
    padding-right:10px;
}

.newrefreshBtn {
    background-color:transparent;
    color:darkgray;
    padding-right:20px;
    border:none;
    width:25px;
    padding-right:35px;
}

.newrefreshBtn:active, .newrefreshBtn:focus  {
    background-color:transparent;
    outline:0;
}
.newrefreshBtn:hover{
    color:black;
}
