<!doctype html>
<html lang="en" ng-app="todomvc" scroll data-framework="firebase">
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- http://stackoverflow.com/questions/1341089/using-meta-tags-to-turn-off-caching-in-all-browsers -->
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />
    
    <link rel="icon" href="img/logo.png">
	<title>InstaQuest | ChatRoom</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <!--font-awesome icons library-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--Google Font Family-->
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind|Orbitron' rel='stylesheet' type='text/css'>
<!--
    <link href="css/nanoscroller.css" rel="stylesheet">
    <link href="css/emoji.css" rel="stylesheet">
-->
    
	<!-- need this for comlted ones. TODO: can I do this in bootstrap -->
	<link rel="stylesheet" href="css/main.css">
	
	<!-- emojione emoji support -->
	<script src="//cdn.jsdelivr.net/emojione/1.5.2/lib/js/emojione.min.js"></script>

</head>
<body ng-controller="TodoCtrl">  
        <nav class="navbar navbar-default navbar-fixed-top iqRoomMenu">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#iqMenu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html" style="font-size: x-large;">InstaQuest</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="iqMenu">
                                        
                    <ul class="nav navbar-nav navbar-right">
                        
                        <li ng-hide="$authData">
                            <a class="btn btn-info iqLogin" data-toggle="modal" data-target="#loginModal"><i class="fa fa-sign-in"></i> Sign up/Login</a>
                        </li>
                        <li ng-show="$authData">
                            <a class="btn btn-success iqLogout" ng-click="Logout()"><i class="fa fa-sign-out"></i>Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        
    <div class="mainBody">
        <div class="jumbotron">
            <div class="container">
                <span class="userInfo">
                        <img ng-show="$authData&&FbLogin" src="https://graph.facebook.com/{{$authData.facebook.id}}/picture/?type=square&return_ssl_resources=1" width="30px" height="30px"/>{{$authData.facebook.displayName}}
                        <img ng-show="$authData&&googleLogin" ng-src="{{$authData.google.profileImageURL}}" width="30px" height="30px"/> {{$authData.google.displayName}}
                        <img ng-show="$authData&&normalLogin" ng-src="{{$authData.password.profileImageURL}}" width="30px" height="30px"/>{{$authData.password.email}}
                </span>
                    <center><font size="10"><span class="roomName">{{roomId}}</span></font></center>
                                    <!--

                <a ng-class="{selected: location.path() == '/newechos'}" class="btn btn-primary" href="#/newechos">New Echos</a>
                <a ng-class="{selected: location.path() == '/tags'}" class="btn btn-success" href="#/tags">Tags</a>
                <a ng-class="{selected: location.path() == '/users'}" class="btn btn-info" href="#/users">Users</a>
                <a ng-class="{selected: location.path() == '/about'}" class="btn btn-warning" href="#/about">About</a>
            -->

<!--            <p class="shareUrl"><small>Share room: {{absurl}}</small></p>-->
            <!-- after login -->   
              
                
				<!--ON OFF function for bad word filter-->

				<!--	For milestone 2
				
				<input type="checkbox" name="filter" value="TRUE">Bad Words Filter ON<br> 
				-->
				
            <!--Refresh button-->
            <!-- button for refreshing the page to show the latest message -->    
            <button class="btn btn-success pull-right refreshBtn" type="button" ng-click="refresh()" title="Refresh the content"><i class="fa fa-retweet"></i> Refresh</button>
                
            <!--get the right of staff-->
<!--            <button ng-show="$authData&&$storage[$authData.uid]!='isStaff'" class="btn btn-danger pull-right staffBtn" type="button" ng-click="getStaffRight()" title="Get the right of staff"><i class="fa fa-unlock"></i><span> Get the right of staff</span></button>-->
                
               <!-- <a href="uniondraw.html"><button class="btn btn-danger pull-right " type="button" ng-click="refresh()"><span class="glyphicon glyphicon-pencil"></span><span>Share Canvas</span></button></a> hide--> 
            
            <br/>
                
            <form id="todo-form" class="col-xs-12 iqButtonGp" ng-submit="addTodo()">
            
                <div class="input-group col-xs-12 iqButtonGp">
                    <div class="catagory iqButtonGp">
                        <select class="category form-control zeroBorder" ng-model="input.category" name="category" id="category" style="width: 110px;">
                            <option value="" disabled selected>Category</option>
                            <option value="Midterm">Midterm</option>
                            <option value="Final">Final</option>
                            <option value="Assignment">Assignment</option>
                            <option value="Other">Other</option>
                        </select>
                        
						<!--emoji selection list-->
                    </div>
                    
                    <div class="col-sm-11 col-xs-12 iqTextArea">
                        <textarea type="text" id="new-todo" class="form-control textarea-control zeroBorder zeroBorderRadius"
                        placeholder="Search or Post Question"
                        ng-model="input.wholeMsg" autofocus rows="3" required>
                        </textarea>
                        <div class="dropdown emojiPicker">
                            <i class=" fa fa-smile-o dropdown-toggle" id="emojiDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                            <!--emoji selection list-->
                            <ul class="dropdown-menu emojiMenu" aria-labelledby="emojiDropdownMenu">
                                <a ng-click="input.wholeMsg=input.wholeMsg+'&#x1f601'">&#x1f601</a> 
                                <!-- nicole, please change the codes below as above--> 
                                <a onclick="insertAtCaret('new-todo','&#x1f602');">&#x1f602</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f603');">&#x1f603</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f604');">&#x1f604</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f605');">&#x1f605</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f606');">&#x1f606</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f607');">&#x1f607</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f608');">&#x1f608</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f609');">&#x1f609</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f60a');">&#x1f60a</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f60b');">&#x1f60b</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f60c');">&#x1f60c</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f60d');">&#x1f60d</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f60e');">&#x1f60e</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f60f');">&#x1f60f</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f610');">&#x1f610</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f612');">&#x1f612</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f613');">&#x1f613</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f614');">&#x1f614</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f616');">&#x1f616</a>
                                <a onclick="insertAtCaret('new-todo','&#x1f618');">&#x1f618</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f61a');">&#x1f61a</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f61c');">&#x1f61c</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f61d');">&#x1f61d</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f61e');">&#x1f61e</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f620');">&#x1f620</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f621');">&#x1f621</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f622');">&#x1f622</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f623');">&#x1f623</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f624');">&#x1f624</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f625');">&#x1f625</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f628');">&#x1f628</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f629');">&#x1f629</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f62a');">&#x1f62a</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f62b');">&#x1f62b</a>             
                                <a onclick="insertAtCaret('new-todo','&#x1f62d');">&#x1f62d</a>             
                                <a onclick="insertAtCaret('new-todo','&#x1f630');">&#x1f630</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f631');">&#x1f631</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f632');">&#x1f632</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f633');">&#x1f633</a>             
                                <a onclick="insertAtCaret('new-todo','&#x1f635');">&#x1f635</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f636');">&#x1f636</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f637');">&#x1f637</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f639');">&#x1f639</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f63a');">&#x1f63a</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f63b');">&#x1f63b</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f63c');">&#x1f63c</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f63d');">&#x1f63d</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f63e');">&#x1f63e</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f63f');">&#x1f63f</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f640');">&#x1f640</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f645');">&#x1f645</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f646');">&#x1f646</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f647');">&#x1f647</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f648');">&#x1f648</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f649');">&#x1f649</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f64a');">&#x1f64a</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f64b');">&#x1f64b</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f64c');">&#x1f64c</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f64d');">&#x1f64d</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f64e');">&#x1f64e</a>     
                                <a onclick="insertAtCaret('new-todo','&#x1f64f');">&#x1f64f</a>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-1 col-xs-12 iqButtonGp">
                        <button class="btn btn-default zeroBorder askBtn fixBtnWidth" type="submit">
                            <i class="fa fa-question-circle"></i> Ask
                        </button>
                        <button class="btn btn-default zeroBorder askBtn fixBtnWidth" type="button" data-toggle="modal" data-target="#pollingModal">
                            <i class="fa fa-bar-chart"></i> Poll
                        </button>
                        <input id="photoAttach" type="file" class="hidden" ng-modal="input.photoAttach" ng-init="input.photoAttach=null" onchange="angular.element(this).scope().photoAttach(this)" accept="image/*"/>
                        <label for="photoAttach" class="btn btn-default zeroBorder askBtn fixBtnWidth" style="max-width: none;">
                            <i class="fa fa-picture-o"></i> Photo
                        </label>
                    </div>
                </div>
                </form>
                <!-- /form-group -->
        </div>
<!--
            <div id="secMsg">
                <span>You are not in the staffs list, please contact technical team.</span>
            </div>    
-->
    </div>
        <div class="container">
            <input class="pull-right" type="checkbox" ng-modal="enableFilter" ng-init="enableFilter=true" ng-click="enableFilter=!enableFilter" checked/><span class="pull-right">Bad word filter</span>
        </div>    
        <div class="container">    
            <div class="container list-group" id="todo-list">
                <div class="zeroBorderRadius list-group-item" ng-repeat="todo in todos | filter:input.wholeMsg | orderBy:['-highlight','-timestamp']" ng-class="{completed: todo.completed, editing: todo == editedTodo, bestQ: todo.highlight== 1, staffQ: todo.highlight== 2, transparent02: todo.dislike - todo.like > 70, transparent04: todo.dislike - todo.like > 50  &&  todo.dislike - todo.like <= 70, transparent06: todo.dislike - todo.like > 30  &&  todo.dislike - todo.like <= 50, transparent08: todo.dislike - todo.like >10  &&  todo.dislike - todo.like <= 30}" ng-init="showReply=false">
        <!--   | questionFilter:maxQuestion          -->
                    <h4 class="list-group-item-heading">
                        <span class="label label-danger" ng-show="checkNew(todo)">New</span>
                        <span class="badge">{{todo.category}}</span>
                    </h4>
                    <h4 class="list-group-item-heading">
                        <span ng-if="enableFilter" class="questionContent">{{filter(todo.wholeMsg)}}</span>
                        <span ng-if="!enableFilter" class="questionContent">{{todo.wholeMsg}}</span>
                    </h4>
            <!--		<p class="list-group-item-text"><span ng-bind="todos.trustedDesc"></span></p>-->
                    <p>
                        <span am-time-ago="todo.timestamp" class = "time-color"></span>
                        <!--change the time format to N hours ago-->
                        <i>By <span ng-class="{staffUser: todo.highlight== 2}">{{todo.questioner}}</span></i>
                        <span ng-show="todo.tags">tags: [<a ng-repeat="tag in todo.tags track by $index" ng-click="searchTag(tag)">{{tag}} </a>]                        </span>
                    </p>

                    <button ng-click="like(todo)" ng-disabled="$storage[todo.$id]" class="likeButton">
                        <img src="img/questionLogo/like.gif" height="30px" width="30px"><span>{{todo.like}}</span>
                    </button>

                    <button ng-click="dislike(todo)"  ng-disabled="$storage[todo.$id]" class="likeButton">
                        <img src="img/questionLogo/unlike.gif" height="30px" width="30px"><span>{{todo.dislike}}</span>
                    </button>
                    <button class="btn btn-success" ng-modal="comments[todo.$id]" ng-click="showReply=!showReply">
                        <i class="fa fa-comments-o" ></i> Reply
                    </button>
            <!--		class="btn btn-default btn-xs glyphicon glyphicon-hand-up"-->

<!--                    <button ng-show="!isStaff" class="btn btn-danger glyphicon glyphicon-check" ng-click="toggleCompleted(todo)"> Completed</button>-->
                    <button ng-show="isStaff" class="btn btn-danger" aria-hidden="true" ng-click="removeTodo(todo)"><i class="fa fa-trash-o"></i> Del</button>
                    <button ng-show="isStaff" class="btn btn-danger" aria-hidden="true" ng-click="bestTodo(todo)"><i class="fa fa-star"></i> Best</button>
                     <button ng-show="isStaff && todo.questioner != 'Anonymous'" class="btn btn-danger" aria-hidden="true" ng-click="rewardStudent(todo)"><i class="fa fa-trophy"></i> Reward</button>

                    <i ng-show="todo.highlight==1" class="fa fa-star bestQuestion"></i>
                    
                    
                    <div ng-show="showReply">
                        <hr ng-show="showReply" style="border-color:#555"/>
                        <span ng-if="comments[todo.$id]" ng-repeat="comment in comments[todo.$id] | orderBy: 'timestamp'">
                            <span class="commentContent" ng-class="{staffComment: comment.highlight== 2}">{{filter(comment.wholeMsg)}}</span> 
                            <p><span am-time-ago="comment.timestamp" class = "time-color"></span> <i>By <span>{{comment.questioner}}</span></i></p>
                            
                        </span>
                        <div>
                            <form class="replyForm" role="form" ng-init="reply=replyForms[$index]">                 
                                <textarea type="text" ng-model="reply.msg" class="form-control replyArea" rows="1" style="resize:none"></textarea>
                                <label for="replySubmit{{$index}}" class="btn btn-default replySubmit"><i class="fa fa-reply"></i> Reply</label>
                                <input id="replySubmit{{$index}}" type="submit" ng-click="addComment(reply, todo)" class="btn btn-default ng-hide"  value="Reply">
                            </form>
                        </div>    
					</div>
                </div>
            </div>
        </div>
        <div class="container">
<!--        <div id="toTop" class="btn btn-info" ng-click="toTop()"><span class="fa fa-arrow-up">Back to Top</span></div>		 button for going back to the top of page-->

    <!--
        <button ng-hide="totalCount>=maxQuestion"
        class="pull-right btn btn-default glyphicon glyphicon-arrow-down"
        type="button" ng-click="increaseMax()"> Show more</button>
    -->
        
        </div>
    <footer class="footer">    
        <div class="container">
            <div class="pull-left" ng-controller="onlineUserCtrl">
                <!--shows the number of online users -->
                <span class="onlineUser">No. of online user: {{totalViewers}} </span>	
            </div>
            <div class="pull-right">
<!--                <span>Emoji provided free by <a href="http://emojione.com/">Emoji One</a></span>-->
            </div>    
        </div> 
    </footer>

<!--
    <footer class="dark-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <span class="copyright">Created by HKUST Team - Code for food 2015</span>
                </div>
            </div>
        </div>
    </footer>
-->
<!-- Modal -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content zeroBorderRadius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title"><i class="fa fa-sign-in"></i> Sign up/Login</h4>
      </div>
      <div class="modal-body">
          <p class="bg-success" ng-model="showSignUp" ng-init="showSignUp = false">
              <span>Sign up:</span>
              <span>
                  <i class="fa fa-chevron-down pull-right" ng-show="!showSignUp" ng-click="showSignUp = !showSignUp" ></i>
                  <i class="fa fa-chevron-up pull-right" ng-show="showSignUp" ng-click="showSignUp = !showSignUp" ></i>
              </span>
          </p>
          <p class="bg-warning" ng-show="createFail"><span class="text-danger">{{createError.toString()}}</span></p>
          <form id="signUpForm" class="csl-xs-12" ng-submit = "signUpForm()" ng-show="showSignUp">
              <div class="form-group">
                  <label for="signupUsername">Email address:</label>
                  <input class="form-control zeroRadius" type="email"  id="signupUsername" ng-model="signup.username" placeholder="Email" required/>
              </div>
              <div class="form-group">
                  <label for="signupPassword">Password:</label>
                  <input class="form-control zeroRadius" type="password" id="signupPassword" ng-model="signup.password" placeholder="Password" required />
              </div> 
              <input class="btn btn-warning pull-right" type="submit" value="Sign Up">
          </form>
          
        <hr/>
          <p class="bg-info"><span class="text-info">For staffs, please login with the form below.</span></p>
          <p class="bg-success" ng-model="showSignUp" ng-init="showLogin = true">
              <span>Login:</span>
              <span>
                  <i class="fa fa-chevron-down pull-right" ng-show="!showLogin" ng-click="showLogin = !showLogin"></i>
                  <i class="fa fa-chevron-up pull-right" ng-show="showLogin" ng-click="showLogin = !showLogin"></i>
              </span>
          </p>
          <p class="bg-warning" ng-show="authFail"><span class="text-danger">{{authError.toString()}}</span></p>
          <form id="loginForm" class="csl-xs-12" ng-submit = "loginForm()" ng-show="showLogin" style="margin-botton=5px;">
              <div class="form-group">
                  <label for="loginUsername">Email address:</label>
                  <input class="form-control zeroRadius" type="email"  id="loginUsername" ng-model="login.username" placeholder="Email" required/>
              </div>
              <div class="form-group">
                  <label for="loginPassword">Password:</label>
                  <input class="form-control zeroRadius" type="password" id="loginPassword" ng-model="login.password" placeholder="Password" required />
              </div>      
              <input class="btn btn-warning pull-right" type="submit" value="Login">
          </form>  
          
            <button class="btn btn-primary left csl-xs-12" type="button" ng-click="FBLogin()"><i class="fa fa-facebook-official"></i>  Facebook</button>
            <button class="btn btn-danger left csl-xs-12" type="button" ng-click="GoogleLogin()"><i class="fa fa-google-plus-square"></i> Google</button>
          
      </div>
          
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal for polling-->
<div id="pollingModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content zeroBorderRadius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h3 class="modal-title"><i class="fa fa-bar-chart"></i>Create a Poll</h3>
      </div>
      <div class="modal-body">
<!--
          <p class="bg-success" ng-model="showSignUp" ng-init="showSignUp = false">
              <span>Sign up:</span>
              <span>
                  <i class="fa fa-chevron-down pull-right" ng-show="!showSignUp" ng-click="showSignUp = !showSignUp" ></i>
                  <i class="fa fa-chevron-up pull-right" ng-show="showSignUp" ng-click="showSignUp = !showSignUp" ></i>
              </span>
          </p>
          <p class="bg-warning" ng-show="createFail"><span class="text-danger">{{createError.toString()}}</span></p>
          <form id="signUpForm" class="csl-xs-12" ng-submit = "signUpForm()" ng-show="showSignUp">
              <div class="form-group">
                  <label for="signupUsername">Email address:</label>
                  <input class="form-control zeroRadius" type="email"  id="signupUsername" ng-model="signup.username" placeholder="Email" required/>
              </div>
              <div class="form-group">
                  <label for="signupPassword">Password:</label>
                  <input class="form-control zeroRadius" type="password" id="signupPassword" ng-model="signup.password" placeholder="Password" required />
              </div> 
              <input class="btn btn-warning pull-right" type="submit" value="Sign Up">
          </form>
          
        <hr/>
          <p class="bg-success" ng-model="showSignUp" ng-init="showLogin = true">
              <span>Login:</span>
              <span>
                  <i class="fa fa-chevron-down pull-right" ng-show="!showLogin" ng-click="showLogin = !showLogin"></i>
                  <i class="fa fa-chevron-up pull-right" ng-show="showLogin" ng-click="showLogin = !showLogin"></i>
              </span>
          </p>
          <p class="bg-warning" ng-show="authFail"><span class="text-danger">{{authError.toString()}}</span></p>
          <form id="loginForm" class="csl-xs-12" ng-submit = "loginForm()" ng-show="showLogin" style="margin-botton=5px;">
              <div class="form-group">
                  <label for="loginUsername">Email address:</label>
                  <input class="form-control zeroRadius" type="email"  id="loginUsername" ng-model="login.username" placeholder="Email" required/>
              </div>
              <div class="form-group">
                  <label for="loginPassword">Password:</label>
                  <input class="form-control zeroRadius" type="password" id="loginPassword" ng-model="login.password" placeholder="Password" required />
              </div>      
              <input class="btn btn-warning pull-right" type="submit" value="Login">
          </form>  
          
            <button class="btn btn-primary left csl-xs-12" type="button" ng-click="FBLogin()"><i class="fa fa-facebook-official"></i>  Facebook</button>
            <button class="btn btn-danger left csl-xs-12" type="button" ng-click="GoogleLogin()"><i class="fa fa-google-plus-square"></i> Google</button>
          
-->
        <div class="createPoll" ng-controller="mainCtrl">
            <form>
                <h4>Define poll's question</h4>

                <input class="form-control" type="text" ng-model="pollForm.name" placeholder="Poll's title" class="w200"><br>

                <h4>Set Poll's answers</h4>

                <div ng-repeat="option in pollForm.options track by $index">
                    Option {{ $index+1 }} <input type="text" placeholder="option"
                                                  ng-model="pollForm.options[$index][0]">
                    <button class="btn btn-danger" ng-click="removeOption($index)"> - </button>
                </div>
                <button class="btn btn-info" ng-click="addPollOption()">+ Add answer</button>
                <br>
                <br>
                <button class="btn btn-info" ng-click="pollCreate()">  Create the poll </button>
            </form>
            <br>
        </div>          
      </div>
          
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>        
<!-- jQuery -->
<script src="js/agency/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/agency/bootstrap.min.js"></script>    

<!-- emoji converter -->
<!-- <script src="js/emoji/emojiConverter.js"></script> -->

<!-- emoji: insertAtCaret -->
<script src="js/emoji/insertAtCaret.js">

<!-- Autolink from https://github.com/gregjacobs/Autolinker.js> -->
<script src="js/lib/Autolinker.min.js"></script>

<!-- 2.2.2 -->
<script src="js/lib/firebase.js"></script>
<script src="js/lib/angular.min.js"></script>					
<!--credit to urish : https://github.com/urish/angular-moment -->
<script src="js/lib/angularfire.js"></script>

<!-- Ng storage 0.3.6  -->
<script src="js/lib/ngStorage.min.js"></script>

<script src="js/app.js"></script>
<script src="js/filters/questionFilter.js"></script>
<script src="js/controllers/todoCtrl.js"></script>
<script src="js/controllers/userCounterCtrl.js"></script>        
<script src="js/directives/todoFocus.js"></script>
<script src="js/directives/todoBlur.js"></script>
<script src="js/directives/todoEscape.js"></script>
<!-- AngularMoment-->
<script src="js/lib/moment.js"></script>
<script src="js/lib/angular-moment.min.js"></script>			
<!--credit to urish : https://github.com/urish/angular-moment -->
        
<!-- google charts directive -->
<script src="js/controllers/ng-google-chart.js"></script>
<!-- Main App JS -->
<script src="js/controllers/chatCtrl.js"></script>
<!--
        
<script src="js/nanoscroller.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/config.js"></script>
<script src="js/util.js"></script>
<script src="js/jquery.emojiarea.js"></script>
<script src="js/emoji-picker.js"></script>

        
<script>
    $(function() {
      
      window.emojiPicker = new EmojiPicker({
        emojiable_selector: '[data-emojiable=true]',
        assetsPath: 'img/',
        popupButtonClasses: 'fa fa-smile-o'
      });
      
      window.emojiPicker.discover();
    });
  </script>        
-->

</body>
</html>
