<div id="works"  class=" clearfix grid">
    
<!--    <img  class="img-responsive"  src="img/loading-x.gif" style="width:100%"/>-->

    <div ng-if="loading" id="loader-wrapper">
        <div id="loader">
        </div>
        <h4 class="loadingMessage">Loading recent chatroom</h4>
    </div>
    
    <figure  ng-if="!loading" class="effect-oscar fadeInUp" ng-repeat="room in roomList" ng-animate=" 'animate' " >
        <img ng-src="img/grid/{{sub_image($index)}}.jpg" alt="{{room.$id}}"/>
        <figcaption>
            <h2>{{room.$id}}</h2>
            <p>
                <br>
            <a ng-href="question.html#/{{room.$id|uppercase}}" ng-title="{{room.$id}}">Join</a></p>            
        </figcaption>
    </figure>
</div>